body, html {
  height: 100%;
}

.Container{
    width: 100%;
    height: auto;
}
#right {
  height: 100%;
}
.left {
  height: 100vh;
  width: 50%;
  background-color: grey;
  float: left;
}

.right {
  height: 100vh;
  width: 50%;
  background-color: red;
  float: right;
}

body {
  background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
}


.br {
  display: block;
  margin-bottom: 0em;
}
.br2 {
  display: block;
  margin-bottom: 2em;
}
.br3 {
  display: block;
  margin-bottom: 3em;
}
.LogsCanvas{
  right: 58%;
  border:1px solid white;
 }
 

.switch {
  position: absolute;
  
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a3a3c2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #f0f0f5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #666699;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8585ad;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



.switch_solar {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch_solar input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_solar {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a3a3c2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_solar:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #f0f0f5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider_solar.round {
  border-radius: 34px;
}

.slider_solar.round:before {
  border-radius: 50%;
}

input:checked + .slider_solar {
  background-color: #666699;
}

input:focus + .slider_solar {
  box-shadow: 0 0 1px #8585ad;
}

input:checked + .slider_solar:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-decoration: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}


.btn-group button {
  width: 104px;
  background-color: #666699;
  border: #d1b3ff;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
  font-size: 14px;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.selection {
  width: 312px;
}



#main {
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
  color: #f2e6ff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
